body{
    background-color: black;
}

ol{
    
    font-size: 20px;
    background-color: black(93, 93, 233);
    color: white;
    margin-left: 5px;
}


h1{

    font-size: 40px;
    background-color: rgb(0, 141, 141);
    color: white;
    text-align: left;
    margin-top: -147px;
    margin-left: 250px;
    margin-right: 50px;
    padding: 12px;
}

h2{

    font-size: 40px;
    background-color: rgb(255, 196, 0);
    color: white;
    text-align: left;
    margin-top: -30px;
    margin-left: 250px;
    margin-right: 50px;
    padding: 12px;
}

h3{

    font-size: 40px;
    background-color: orange;
    color: white;
    text-align: left;
    margin-top: -35px;
    margin-left: 250px;
    margin-right: 50px;
    padding: 12px;
}

h4{
    font-size: 40px;
    background-color: red;
    color: white;
    text-align: left;
    margin-top: -40px;
    margin-left: 250px;
    margin-right: 50px;
    padding: 12px;
}

p{
    font-size: 20px;
    text-align: justify;
}

a{
    color: white;
}